@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import "./settings/variables";
@import "./import";
@import "./ui";

* {
  margin: 0;
  box-sizing: border-box;

  p {
    margin: 0;
  }
}

body {
  background-color: $black;
  font-family: "Inter";
  color: $white;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    height: unset;
    width: unset;
  }

  button {
    font-family: "Inter", sans-serif;
  }
}

.clock-app {
  height: 100vh;
  overflow: hidden;
}
